:root {
    --background-color: rgb(235, 235, 235);
    --green: rgb(30, 176, 91);
    --red: red;
    --board-lines: rgb(96, 114, 137);
    --board-background: rgb(244, 244, 244);
}

* {
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 450px 75px 125px 1fr;
    justify-items: center;
    align-items: center;

    background-color: var(--background-color);
}

.title {
    grid-column: 1 / 4;
    grid-row-start: 1;
}

.turn {
    font-size: 40px;
}

.board {
    grid-column: 2 / 3;
    grid-row-start: 2;

    display: grid;
    height: 399px;
    width: 399px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;
    background-color: var(--board-lines);
    box-shadow: 0px 0px 30px grey;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 0px solid grey;
    background: var(--board-background);
    cursor: pointer;
}

.gameMessages {
    grid-column: 2;
    grid-row: 3;

    height: 50px;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameMessages .message {
    font-size: 30px;
    color: var(--green);
}

.errorMes {
    color: var(--red);
    font-size: 30px;
}

.buttons {
    grid-column-start: 2;
    grid-row-start: 4;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--board-lines);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--board-background);
}

.playerName, .score {
    font-size: 25px;
    /* padding: 0px; */
}

.resetButton {
    padding: 15px;
    border: 2px solid var(--board-lines);
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

.game-logo {
    grid-row-start: 5;
    grid-column: 1 / 4;

    font-size: 50px;
    background-color: var(--board-background);
    padding: 20px 50px;
    border-radius: 50px;
}