body {
    background-color: rgb(187, 187, 187);
    box-sizing: border-box;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: rgb(0, 110, 255);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: rgb(156, 204, 255);
    cursor: pointer;
}

.gameMessages {
    height: 150px;
    width: 500px;
    background-color: antiquewhite;
    /* padding: 2px; */
    border: 3px solid black;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMes {
    color: red;
}